#root {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(1) {
  width: 50vw;
  height: 90vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#root > div:nth-child(2) {
  width: 30vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input {
  width: 30vw;
  height: 30vw;
  border: 1px solid black;
  cursor: pointer;
}

#root > div:nth-child(1) > div {
  margin: 3px;
}

#root > div:nth-child(1) > div:nth-child(1) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/meet.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(2) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/no.png');
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(3) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/daefa.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(4) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/dooboo.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(5) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/remon.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(6) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/rich.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(7) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/baechu.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(8) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/mushiroom.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(9) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/saewoo.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(10) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/powder.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(11) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/water.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(12) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/yangpa.png');
  background-position: center;
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(13) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/kong.png');
  background-size: cover;
}
#root > div:nth-child(1) > div:nth-child(14) {
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/img/juice.png');
  background-position: center;
  background-size: cover;
}
